header {
  height: 30%;
  width: 100%;
  border: 1px solid;
  border-color: black;
  margin: 0 auto;
  text-align: center;
}

#titulo {
  padding: 5%;
  color: darkslateblue;

}

#titulo hover {
  color: darkslateblue;
}

footer {
  height: 30%;
  width: 100%;
  border: 1px solid;
  border-color: black;
  margin: 0 auto;
  text-align: center;
}
